<ul>
{{#each allArtists}}
<li>
      {{ this.name }}
      <br>
       <img src="{{ this.images.0.url }}" alt="" width="160px">
    <br>
  <a href="/albums/{{this.id}}">View albums</a>

</li>

{{/each}}

</ul>
